body {
    margin: 0;
    padding: 0;
    background-color: black;
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container {
    display: flex;
    height: fit-content;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  
  .pure {
    font-size: x-large;
    color: black;
    background-color: rgb(160, 56, 201);
    height: 320px;
    padding: 80px 40px 0 40px;
    border-radius: 20px;
  }
  
  .keys {
    position: relative;
  }
  
  .white-keys {
    display: flex;
  }
  
  .black-keys {
    display: flex;
    position: relative;
  }
  
  .white-key {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px;
    box-sizing: border-box;
    width: 68px;
    height: 280px;
  }
  
  .black-key {
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
    background-color: #000;
    width: 38px;
    height: 160px;
  }
  
  .black-key:nth-child(1) {
    left: 48px
  }
  
  .black-key:nth-child(2) {
    left: 117px
  }
  
  .black-key:nth-child(3) {
    left: 253px
  
  }
  
  .black-key:nth-child(4) {
    left: 320px
  }
  
  .black-key:nth-child(5) {
    left: 389px
  }
  
  .black-key:nth-child(6) {
    left: 525px
  }
  
  .black-key:nth-child(7) {
    left: 594px
  }
  
  .black-key:nth-child(8) {
    left: 662px
  }
  
  .black-key:nth-child(9) {
    left: 797px
  }
  
  .black-key:nth-child(10) {
    left: 865px
  }